body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding-top: 10px;
    font-size: 18px;
}

.logo{
    padding-left: 50px;
}

.right-container{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.header a{
    text-decoration: none;
    color: white;
}

.section1{
    background-color: #000000;
    color: white;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.left-container-1{
    width: 50%;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.text-container{
    width: 80%;
}

.text-title{
    font-size: 44px;
    font-style: extra-bold;
    height: auto;
}

.text-desc{
    font-size: 18px;
}

.right-container-1{
    width: 50%;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#buy-btn{
    font-size: 18px;
    box-sizing: border-box;
    height: 35px;
    width: 120px;
    background-color: rgb(254, 255, 255);
    border-radius: 8px;
}

#buy-btn:hover{
    background-color: white;
    box-shadow: 1px 1px #ffffffc4;
}